apiVersion: apps/v1
kind: Deployment
metadata:
  name: kong-database
  labels:
    app: kong-database
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kong-database
  template:
    metadata:
      labels:
        app: kong-database
    spec:
      # ===============================================
      # CONTENEDOR PRINCIPAL (Confía en el Entrypoint por defecto)
      # ===============================================
      containers:
      - name: postgres
        image: postgres:11
        # El entrypoint por defecto se encarga de la lógica de POSTGRES_USER/DB
        env:
          # Estas variables crean el usuario 'kong' y la base de datos 'kong' SOLO en el primer inicio.
          - name: POSTGRES_USER
            value: "kong" # Usamos 'postgres' como usuario de conexión principal
          - name: POSTGRES_DB
            value: "kong"
          - name: POSTGRES_HOST_AUTH_METHOD
            value: "trust"
          - name: POSTGRES_PASSWORD
            value: "kong"
          - name: POSTGRES_ROOT_PASSWORD
            value: "postgres"
        ports:
          - containerPort: 5432
        volumeMounts:
          - name: postgres-storage
            mountPath: /var/lib/postgresql/data # Ruta donde Postgres guarda sus datos
        # Healthcheck simple para verificar que el servicio esté corriendo
        livenessProbe:
          exec:
            # Revertimos el chequeo al usuario por defecto 'postgres' para simplificar,
            # pero puedes usar 'kong' si la DB se inicializa con el usuario 'kong'.
            command: ["pg_isready", "-U", "postgres", "-d", "kong"] 
          initialDelaySeconds: 15
          periodSeconds: 10
      
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-data-pvc