apiVersion: apps/v1
kind: Deployment
metadata:
  name: kong-database
  labels:
    app: kong-database
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kong-database
  template:
    metadata:
      labels:
        app: kong-database
    spec:
      containers:
      - name: postgres
        image: postgres:11
        env:
          - name: POSTGRES_USER
            value: "postgres"
          - name: POSTGRES_DB
            value: "kong"
          - name: POSTGRES_HOST_AUTH_METHOD
            value: "trust"
          - name: POSTGRES_PASSWORD
            value: "kong"
          - name: POSTGRES_ROOT_PASSWORD
            value: "postgres"
          # ===============================================
          # CORRECCIÓN: Definir PGDATA para usar un subdirectorio
          # Esto resuelve el error 'directory exists but is not empty'.
          - name: PGDATA
            value: /var/lib/postgresql/data/pgdata 
          # ===============================================
        ports:
          - containerPort: 5432
        livenessProbe:
          exec:
            command: ["pg_isready", "-U", "postgres", "-d", "kong"]
          initialDelaySeconds: 30 
          periodSeconds: 10
        volumeMounts:
        - name: postgres-storage
          # Esta es la raíz del volumen (donde existe el lost+found)
          mountPath: /var/lib/postgresql/data 
          
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: kong-db-pvc